{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "printWidth": 123213213,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
