---
import Breadcrumbs from '@blocks/Breadcrumbs.astro'
import Feedback from '@blocks/Feedback.astro'
import Showcase1 from '@blocks/Showcase1.astro'
import Showcase2 from '@blocks/Showcase2.astro'
import TechnologyIntro from '@blocks/TechnologyIntro.astro'
import Layout from '@layout/Layout.astro'
---

<Layout
  seo={{
    title: 'Три топора: Комбинированные дома',
    description:
      'Строительство из дерева, стекла и камня сравнимо с исскуством',
    cover: '/images/seo/home.jpg',
  }}
>
  <Breadcrumbs
    links={[
      {
        name: 'Главная',
        href: '/',
      },
      {
        name: 'Технологии',
        href: '/technologies',
      },
      {
        name: 'Комбинированные дома',
        href: '/technologies/combined-houses',
      },
    ]}
  />

  <TechnologyIntro
    heading="Говоря о комбинированных домах хотелось бы конкретизировать"
    headingType="small"
    image={{
      src: '/images/technologies/combined-houses/cover.jpg',
    }}
    description="<p>что мы вкладываем в это понятие. Как правило к этой технологии относят решения, в которых в процессе стройки коробкидома сочетаются две технологии.</p><p>Например, дома первый этаж которых является срубом, авторой этаж сделан по технологии Post&Beam или дом из газобетона, в котором одна стена выполнены в виде витражного остекления по технологии фахверк, или то же сочетание каркасной технологии из доски и брусово-каркасной технологии фахверк. Это всё по своей сути комбинированные дома</p>"
  />

  <Showcase1
    textImage={{
      src: '/images/technologies/combined-houses/showcase/2.png',
    }}
    mainImage={{
      src: '/images/technologies/combined-houses/showcase/1.png',
    }}
    text="<p>Но здесь мы будем говорить о комбинированных домах, где первый этаж выполнен из капитальных материалов таких как кирпич, газобетон, керамоблок, а второй этаж построен из дерева. В возведении деревянной части такого дома возможны следующие решения: это может быть клееный брус, рубленное бревно, каркасно-бревенчатая технология Post&Beam и каркасно-брусовая технология Timber Frame.</p>"
  />

  <Showcase1
    direction={'rtl'}
    textImage={{
      src: '/images/technologies/combined-houses/showcase/4.png',
    }}
    mainImage={{
      src: '/images/technologies/combined-houses/showcase/3.png',
    }}
    text="<p>Стилистические такие дома могут быть выполнены в различных архитектурных стилях от классики до high-tech. Второй этаж может быть как мансардным с большими террасами и свесами кровли как например у альпийских шале, так и полным по высоте с вальмовой и как правило крытой фальцем кровлей очень частое решение в исторической застройке небольших российских городов, как правило это были купеческие дома.</p>"
  />

  <Showcase2
    image={{
      src: '/images/technologies/combined-houses/showcase/5.png',
    }}
    text="<h4>Комбинированный дом именно в отношении деревянного домостроения обладает рядом преимуществ:</h4><ul><li>Возможность совместить в одном решении две стихии дерево и камень. Получить одновременно преимущества первого и второго решений. Как правило, на втором этаже таких домов располагаются спальни, сон в которых комфортный и глубокий. На первом этаже находятся гостиная, кухня, технические помещения, тамбуры, постирочные, кладовки.</li><li>Срубовая часть поднимается максимально высоко от уровня земли что увеличивает срок службы сруба</li><li>Если дом в стиле шале, то сруб закрыт как от осадков, так и от повреждающего действия ультрафиолета, что выраженно снижает необходимость ремонта и обновления покраски деревянной части. Например, в стандартных решениях обновлять покраску сруба необходимо раз в 8-10 лет, а в случае с комбинированными шале раз в 15-20 лет, а если заказчик выбирает тёмные она в покраске, то раз в 20-25 лет.</li></ul>"
  />

  <Showcase2
    direction={'rtl'}
    image={{
      src: '/images/technologies/combined-houses/showcase/6.png',
    }}
    text="<ul><li>Такие дома — это идеальное решение для участков с выраженным уклоном</li><li>Перекрытия в доме выполнены из плит или монолита, что позволяет добиться высокого уровня шумоизоляции, что не всегда возможно в полностью деревянном доме.</li><li>Природные свойства таких материй как дерево и глина, которые активно применяются в производстве строительных материалов создают оптимальные условия, в которых человеку находится комфортно. Эти материалы регулируют микроклимат в помещениях и обладают температурной инертностью что создаёт оптимальный условия для жизни.</li><li>На наш взгляд комбинированный дом первый этаж которого возведен из кирпича, а второй из бревна это идеальный вариант дома для жизни.</li></ul><h4>Комбинированные дома по праву пользуются сейчас огромной популярностью.</h4>"
  />

  <Feedback />
</Layout>
