---
import Breadcrumbs from '@blocks/Breadcrumbs.astro'
import Feedback from '@blocks/Feedback.astro'
import TechnologyIntro from '@blocks/TechnologyIntro.astro'
import Layout from '@layout/Layout.astro'
import { getHref } from '@utils/url'
---

<Layout
  seo={{
    title: 'Три топора: Комбинированные дома',
    description:
      'Строительство из дерева, стекла и камня сравнимо с исскуством',
    cover: getHref('/images/seo/home.jpg'),
  }}
>
  <Breadcrumbs
    links={[
      {
        name: 'Главная',
        href: '/',
      },
      {
        name: 'Технологии',
        href: '/technologies',
      },
      {
        name: 'Комбинированные дома',
        href: '/technologies/combined-houses',
      },
    ]}
  />

  <TechnologyIntro
    heading="Говоря о комбинированных домах хотелось бы конкретизировать"
    headingType="small"
    image={{
      src: '/images/technologies/combined-houses/cover.jpg',
    }}
    description="<p>что мы вкладываем в это понятие. Как правило к этой технологии относят решения, в которых в процессе стройки коробкидома сочетаются две технологии.</p><p>Например, дома первый этаж которых является срубом, авторой этаж сделан по технологии Post&Beam или дом из газобетона, в котором одна стена выполнены в виде витражного остекления по технологии фахверк, или то же сочетание каркасной технологии из доски и брусово-каркасной технологии фахверк. Это всё по своей сути комбинированные дома</p>"
  />

  <Feedback />
</Layout>
