---
import Breadcrumbs from '@blocks/Breadcrumbs.astro'
import CompareBlock from '@blocks/CompareBlock.astro'
import Feedback from '@blocks/Feedback.astro'
import TechnologyIntro from '@blocks/TechnologyIntro.astro'
import Layout from '@layout/Layout.astro'
import { getHref } from '@utils/url'
---

<Layout
  seo={{
    title: 'Три топора: Клееный брус',
    description:
      'Строительство из дерева, стекла и камня сравнимо с исскуством',
    cover: getHref('/images/seo/home.jpg'),
  }}
>
  <Breadcrumbs
    links={[
      {
        name: 'Главная',
        href: '/',
      },
      {
        name: 'Технологии',
        href: '/technologies',
      },
      {
        name: 'Клееный брус',
        href: '/technologies/glued-timber',
      },
    ]}
  />

  <TechnologyIntro
    heading="Известный и проверенный временем материал"
    headingType="small"
    image={{
      src: '/images/technologies/glued-timber/cover.jpg',
    }}
    description="<p>который прогнозируемо ведет себя как в процессе стройки, так и в эксплуатации.</p>"
  />

  <CompareBlock
    text={`
    <h3>Давайте рассмотрим основные выгоды работать с клееным брусом:</h3>
    <ul>
      <li>Быстрое изготовление домокомплекта. Комплект на дом примерно на 300-400 м2 в условиях современного производства изготавливается не более 2 недель.</li>
      <li>Возможность максимально быстро зайти на отделочные работы и ввести дом в эксплуатацию так как усадка минимальна, а в случае с каркасно-брусовой технологией (фахверк, тимбер фрэйм) усадка отсутствует.</li>
      <li>Каналы под скрытую проводку и коммуникации возможно сделать одновременно с изготовлением домокомплекта максимально точно и быстро на станке.</li>
      <li>Решение сложных конструктивных и архитектурных задач в стройке так как возможно изготовление балок до 14 метров и деталей бруса до 12 метров длинной. Есть возможность изготовления элементов кровли с гнутой конструкционной балкой, радиальных элементов.</li>
    </ul>
  `}
    image1={{ src: '/images/dev/1.jpg' }}
    image2={{ src: '/images/dev/2.jpg' }}
    title="Просто подвигайте ползунок, чтобы увидеть разницу"
    titlePosition="right"
  />

  <CompareBlock
    direction={'rtl'}
    text={`
      <ul>
        <li>Клееный брус позволяет просто ввести в эксплуатацию построенные из этого материала гостиницы, места общественного пользования так как имеет все необходимые для этого сертификаты.</li>
        <li>Высокая точность в и качество производства дом комплектов обусловлено современным производством, состоящим из фрезерно-брусующих линий оборудования EWD (Австрия); сушильных комплексов – компании Incomac (Италия), прессов Minda, чашкорезов с ЧПУ Stromab, Hundegger, Krusi, линия сортировки ламелей и линия сращивания древесины Weinig, строгальные станки Leadinec.</li>
        <li>Высокая прочность так как клееная конструкция в силу особенностей технологии выдерживает нагрузки более высокие чем массив бруса</li>
      </ul>
    `}
    image1={{ src: '/images/dev/1.jpg' }}
    image2={{ src: '/images/dev/2.jpg' }}
  />

  <Feedback />
</Layout>
