---
import Breadcrumbs from '@blocks/Breadcrumbs.astro'
import Feedback from '@blocks/Feedback.astro'
import Showcase5 from '@blocks/Showcase5.astro'
import ShowcaseArticles from '@blocks/ShowcaseArticles.astro'
import TechnologyIntro from '@blocks/TechnologyIntro.astro'
import Layout from '@layout/Layout.astro'
import { getHref } from '@utils/url'
---

<Layout
  seo={{
    title: 'Три топора: Ручная рубка',
    description:
      'Строительство из дерева, стекла и камня сравнимо с исскуством',
    cover: getHref('/images/seo/home.jpg'),
  }}
>
  <Breadcrumbs
    links={[
      {
        name: 'Главная',
        href: '/',
      },
      {
        name: 'Технологии',
        href: '/technologies',
      },
      {
        name: 'Ручная рубка',
        href: '/technologies/manual-cutting',
      },
    ]}
  />

  <TechnologyIntro
    heading="Любая рубка начинается с заготовки сырья. Мы тщательно отбираем деревья для наших будущих домов."
    image={false}
    description="<p>Ездим на делянки или сами выбираем подходящие бревна у поставщиков. В рубку идет выборка, а это первый рез т.е. та часть бревна которая идет от земли.</p><p>Эта часть зачастую имеет фигурный комель и минимальное количество сучков. В закуп идет лес, который произрастает на сухих не заболоченных участках. Валка леса как правило вручную. Отдельно выезжаем на поиск бревен длиннее 12 метров или с метровым комлем. Дом, построенный из отборного леса, прослужит веками.</p>"
  />

  <Showcase5
    text=`
      <h2>Бриллиантовый замок</h2>
      <h5>Идеален если нужен дом для нескольких поколений семьи</h5>
      <p>Это дикий, природный стиль. При усадке верхнее бревно находит на нижнее и соединение заклинивается. Дом после усадки — это монолит без щелей</p>
      <p>Строгаем бревна так, чтобы замять волокна дерева в его структуру. Поэтому поверхность бревна плотная. Вода стекает по затёсам и не попадает в чашу, так сруб не впитывает влагу и не гниёт.</p>
      <p>Этот тип рубки исключает продувание углов и стен, а в пазах используется упругий утеплитель, который не слёживается годами.</p>
      <p>Это очень красивый тип соединения. Комли по углам дома сохраняем в первозданном виде. Возможно, нарезать на комле уникальный узор-«чешую»</p>
    `
    image={{ src: '/images/dev/1.jpg' }}
  />

  <ShowcaseArticles
    articles={[
      {
        heading: 'Канадская рубка',
        title: 'Подходит, если хочется заехать в рубленый дом поскорее',
        description:
          'Это соединение проще бриллиантового замка-на бревнах нет нижних затёсов. Комлей тоже нет как правило, а выпуски брёвен отторцованы прямо, иногда фигурно. Стиль дома уже не дикий природный, а классический, формы плавные и простые. За счёт этих решений сруб рубится в 1,5 раза быстрее. Но при этом он сохраняет все свойства рубленных домов в бриллиантовом замке.',
        image: { src: '/images/dev/1.jpg' },
        href: '/',
      },
      {
        heading: 'Русская чаша',
        title: 'Подходит для срубов из бревна небольшого сечения',
        description:
          'Классическая рубка, оптимально подходящая для бревен относительно небольшого диаметра от 28-32 см по вершине. Достоинством является простата, надёжность и скорость рубки.<br><br>Мы используем в рубке исключительно зимний и выдержанный лес. Делаем поднутрение при изготовлении продольного паза, однако в русской рубке пазы и чаши фрагментарно требуют конопатки. Объем конопатки существенно меньше чем у срубов из оцилиндрованного бревна, так же существенно меньше количество трещин, а срок службы сруба выше так как сохраняется верхний наиболее плотный сой древесины заболонь',
        image: { src: '/images/dev/1.jpg' },
        href: '/',
      },
    ]}
  />

  <Feedback />
</Layout>
