---
import Breadcrumbs from '@blocks/Breadcrumbs.astro'
import Feedback from '@blocks/Feedback.astro'
import Showcase1 from '@blocks/Showcase1.astro'
import Showcase5 from '@blocks/Showcase5.astro'
import Showcase7 from '@blocks/Showcase7.astro'
import ShowcaseArticles from '@blocks/ShowcaseArticles.astro'
import TechnologyIntro from '@blocks/TechnologyIntro.astro'
import Layout from '@layout/Layout.astro'
---

<Layout
  seo={{
    title: 'Три топора: Ручная рубка',
    description: 'Строительство из дерева, стекла и камня сравнимо с исскуством',
    cover: '/images/seo/home.jpg',
  }}>
  <Breadcrumbs
    links={[
      {
        name: 'Главная',
        href: '/',
      },
      {
        name: 'Технологии',
        href: '/technologies',
      },
      {
        name: 'Ручная рубка',
        href: '/technologies/manual-cutting',
      },
    ]}
  />

  <TechnologyIntro
    heading="Любая рубка начинается с заготовки сырья. Мы тщательно отбираем деревья для наших будущих домов."
    image={false}
    description="<p>Ездим на делянки или сами выбираем подходящие бревна у поставщиков. В рубку идет выборка, а это первый рез т.е. та часть бревна которая идет от земли.</p><p>Эта часть зачастую имеет фигурный комель и минимальное количество сучков. В закуп идет лес, который произрастает на сухих не заболоченных участках. Валка леса как правило вручную. Отдельно выезжаем на поиск бревен длиннее 12 метров или с метровым комлем. Дом, построенный из отборного леса, прослужит веками.</p>"
  />

  <Showcase5
    text=`<h2>Бриллиантовый замок</h2><h5>Идеален если нужен дом для нескольких поколений семьи</h5><p>Это дикий, природный стиль. При усадке верхнее бревно находит на нижнее и соединение заклинивается. Дом после усадки — это монолит без щелей</p><p>Строгаем бревна так, чтобы замять волокна дерева в его структуру. Поэтому поверхность бревна плотная. Вода стекает по затёсам и не попадает в чашу, так сруб не впитывает влагу и не гниёт.</p><p>Этот тип рубки исключает продувание углов и стен, а в пазах используется упругий утеплитель, который не слёживается годами.</p><p>Это очень красивый тип соединения. Комли по углам дома сохраняем в первозданном виде. Возможно, нарезать на комле уникальный узор-«чешую»</p>`
    image={{ src: '/images/technologies/manual-cutting/showcase/1.png' }}
  />

  <ShowcaseArticles
    articles={[
      {
        heading: 'Канадская рубка',
        title: 'Подходит, если хочется заехать в рубленый дом поскорее',
        description: 'Это соединение проще бриллиантового замка-на бревнах нет нижних затёсов. Комлей тоже нет как правило, а выпуски брёвен отторцованы прямо, иногда фигурно. Стиль дома уже не дикий природный, а классический, формы плавные и простые. За счёт этих решений сруб рубится в 1,5 раза быстрее. Но при этом он сохраняет все свойства рубленных домов в бриллиантовом замке.',
        image: { src: '/images/technologies/manual-cutting/showcase/2.png' },
        href: '/',
      },
      {
        heading: 'Русская чаша',
        title: 'Подходит для срубов из бревна небольшого сечения',
        description: 'Классическая рубка, оптимально подходящая для бревен относительно небольшого диаметра от 28-32 см по вершине. Достоинством является простата, надёжность и скорость рубки.<br><br>Мы используем в рубке исключительно зимний и выдержанный лес. Делаем поднутрение при изготовлении продольного паза, однако в русской рубке пазы и чаши фрагментарно требуют конопатки. Объем конопатки существенно меньше чем у срубов из оцилиндрованного бревна, так же существенно меньше количество трещин, а срок службы сруба выше так как сохраняется верхний наиболее плотный сой древесины заболонь',
        image: { src: '/images/technologies/manual-cutting/showcase/3.png' },
        href: '/',
      },
    ]}
  />

  <Showcase1
    heading="Норвежская рубка - ЛАФЕТ"
    text=`<h5>Подходит если нужен дом с плоскими стенами</h5><p>Лафет — это отличная альтернатива клееному брусу. В бревенчатых домах мы нередко протёсываем плоскости под мебель или некоторые стены сразу рубим лафетом. В доме из лафета стены изначально плоские. Внутренне пространство дома тоже чуть больше.</p><p>Замок в норвежской рубке мы всегда делаем внутри с шипом. Благодаря этому он не продуваем, и конструкция становится жёстче. По нашему опыту лафет стремится обычно к скручиванию в стене. Замок с шипом держит лафет надёжно и не дает ему выкручиваться. Важно что лафет рубится из выдержанных, высушенных брёвен.</p>`
    textImage={{ src: '/images/technologies/manual-cutting/showcase/5.png' }}
    mainImage={{ src: '/images/technologies/manual-cutting/showcase/4.png' }}
  />

  <Showcase7
    text1=`<h2>Post Beam</h2><h5>Самый теплый деревянный дом</h5><p>Классический Post&Beam это каркасно-бревенчатая безусадочная технология аналог таких решений как Фахверк или Тимбер Фрэйм. Только вместо бруса бревно сечением от 44-46 см по вершине и более. Заполнение стен возможно как в каркасном исполнении так и в варианте заполнения бревном, так называемый забир. Post&Beam сочетаем с камнем, декоративной штукатуркой, безрамным остеклением. Ограничений по отделке нет.</p>`
    text2=`<p><b>Компания Три Топора</b> так же производит облегченную версию Post&Beam в бревне 32-38 см. Это решение оптимально для коммерческих объектов: рестораны, гостиницы, гостевые дома так как снижает расходы на силовой каркас здания при сохранении внешней эстетики и уникальной архитектуры</p>`
    images={[{ src: '/images/technologies/manual-cutting/showcase/6.png' }, { src: '/images/technologies/manual-cutting/showcase/7.png' }, { src: '/images/technologies/manual-cutting/showcase/8.png' }, { src: '/images/technologies/manual-cutting/showcase/9.png' }, { src: '/images/technologies/manual-cutting/showcase/10.png' }, { src: '/images/technologies/manual-cutting/showcase/11.png' }]}
  />

  <Feedback />
</Layout>
