---
import Stats, { type StatsItem } from './Stats.astro'

export interface Props {
  class?: string | undefined
  name?: string | undefined
  stats?: Array<StatsItem> | undefined
  size?: 'normal' | 'large' | undefined
}

const {
  class: className,
  name = 'Дом Макдональд',
  stats = [
    {
      icon: 'bed',
      name: '3 спальни',
    },
    {
      icon: 'bath',
      name: '3 санузла',
    },
    {
      icon: 'size',
      name: '472 м²',
    },
  ],
  size = 'normal',
  ...rest
} = Astro.props
---

<div
  {...rest}
  class:list={['card-info', className]}
  data-size={size}
>
  <div
    class="card-info__name"
    set:html={name}
  />

  <Stats
    class="card-info__stats"
    {size}
    stats={stats}
  />
</div>

<style is:global>
  .card-info {
  }

  .card-info__name {
    font-weight: 500;

    color: var(--color, var(--color-white-1));

    .card-info[data-size='normal'] & {
      font-size: 2rem;
      margin-bottom: 0.8rem;
    }

    .card-info[data-size='large'] & {
      font-size: 2.2rem;
      margin-bottom: 2.4rem;
    }

    @media (max-width: 768px) {
      .card-info[data-size='normal'] &,
      .card-info[data-size='large'] & {
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
      }
    }
  }
</style>
