---
import Image, { type Props as ImageProps } from './Image.astro'
import LookCircle from './LookCircle.astro'

export interface Props {
  class?: string
  circleText?: string
  image?: ImageProps
}

const {
  class: className,
  circleText = 'Смотреть',
  image = {
    src: '/images/dev.jpg',
    lazy: true,
    lazyBackground: true,
  },
  ...rest
} = Astro.props
---

<div
  {...rest}
  class:list={['look-image', className]}
>
  <Image
    {...image}
    cover
    class="look-image__image"
  />

  <LookCircle
    text={circleText}
    class="look-image__circle"
  />
</div>

<style is:global>
  .look-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .look-image__image {
    width: 100%;
    height: 100%;
  }

  .look-image__circle {
    position: absolute;
    z-index: 1;
  }
</style>
