---
import ArrowButton from './ArrowButton.astro'
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'

export interface Props {
  class?: string
  href?: string
  image?: ImageDataProps
  name?: string
}

const {
  class: className,
  href = '/',
  image = { src: '/images/services/1.jpg', alt: 'alt' },
  name = 'Плотницкое дело',
  ...rest
} = Astro.props
---

<a
  {...rest}
  href={href}
  data-prefetch
  class:list={['button-owner service-card', className]}
>
  <span
    class="service-card__name"
    set:html={name}
  />

  <Image
    class="service-card__image"
    {...image}
    lazy
    lazyBackground
  />

  <ArrowButton
    class="service-card__button"
    tag="span"
    >Перейти</ArrowButton
  >
</a>

<style is:global>
  .service-card {
    position: relative;

    width: 100%;
    height: 100%;
    padding: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.8rem;
    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      z-index: -1;

      width: 100%;
      height: 100%;

      background-image: linear-gradient(
        to bottom,
        rgba(58, 58, 58, 0),
        rgba(44, 44, 44, 1) 200%
      );
    }

    @media (max-width: 768px) {
      padding: 1.6rem;
    }
  }

  .service-card__name {
    font-family: 'Code', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;

    margin-top: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  .service-card__image {
    position: absolute;

    z-index: -2;

    width: 100%;
    height: 100%;

    @media (hover: hover) {
      transition: transform var(--duration-button);

      .service-card:hover & {
        transform: scale(1.01);
      }
    }
  }

  .service-card__button {
    position: absolute;

    z-index: 2;

    opacity: 0;

    @media (hover: hover) {
      .service-card:hover & {
        opacity: 1;
      }
    }
  }
</style>
