---
import Icon from './Icon.astro'

export const modal = '#swipe-modal'

export interface Props {
  class?: string
  tag?: string
  id?: string
}

const {
  class: className,
  tag = 'e-swipe-popover',
  id = 'swipe-modal',
  ...rest
} = Astro.props

const Tag = tag as any
---

<Tag
  {...rest}
  {id}
  class:list={['swipe-modal', className]}
>
  <div
    class="swipe-modal__inner hidden-scrollbar"
    data-outside
  >
    <div
      class="swipe-modal__swipe hidden-scrollbar"
      data-swipe
    >
      <div class="swipe-modal__content">
        <div
          class="swipe-modal__swipe__top"
          data-swipe-knob
        >
          <div class="swipe-modal__swipe__top__decoration"></div>
          <div class="swipe-modal__swipe__top__buttons">
            <e-popover-button
              class="swipe-modal__back"
              target={id}
            >
              <Icon
                class="swipe-modal__back__arrow"
                name="tail-arrow"
              />
              <span class="swipe-modal__back__name">Назад</span>
            </e-popover-button>
            <slot name="buttons" />
          </div>
        </div>

        <slot />
      </div>
      <div class="swipe-modal__apply">
        <e-popover-button
          class="swipe-modal__apply__button"
          target={id}
          >Применить</e-popover-button
        >
      </div>
    </div>
  </div>
</Tag>

<style is:global>
  .swipe-modal {
    --escape: true;
    --click-outside: true;

    --modal-duration: 0.4s;
    --accordion-duration: 0.3s;

    @media (min-width: 769px) {
      opacity: 1 !important;
      display: block !important;
    }

    @media (max-width: 768px) {
      --swipe-enabled: true;

      position: fixed;
      top: 0;
      left: 0;

      z-index: var(--z-filter);

      width: 100%;
      height: 100%;

      opacity: 0;
      display: none;

      transition: opacity var(--modal-duration);

      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .swipe-modal__inner {
    overscroll-behavior: contain;

    @media (min-width: 769px) {
      height: 100%;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      overflow: hidden auto;

      transform: translateY(101%);
      transition: transform var(--modal-duration);

      .swipe-modal.opened & {
        transform: translateY(0%);
      }

      .swipe-modal.closing & {
        transform: translateY(101%);
      }
    }
  }

  .swipe-modal__swipe {
    overscroll-behavior: contain;

    @media (min-width: 769px) {
      overflow: hidden auto;
      height: 100%;
    }

    @media (max-width: 768px) {
      position: relative;

      max-height: calc(var(--viewport-height) * 0.85);

      pointer-events: auto;
      overflow: hidden auto;

      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
    }
  }

  .swipe-modal__swipe__top {
    @media (min-width: 769px) {
      display: none;
    }

    @media (max-width: 768px) {
      position: sticky;
      top: 0;
      left: 0;

      z-index: 1;

      background-color: var(--color-grey-1);
    }
  }

  .swipe-modal__swipe__top__decoration {
    width: 100%;
    height: 2rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-grey-1);

    &::after {
      content: '';

      display: block;

      width: 4rem;
      height: 0.2rem;

      border-radius: 100rem;

      background-color: var(--color-white-1);
    }
  }

  .swipe-modal__content {
    @media (max-width: 768px) {
      padding: 0rem var(--screen-horisontal-padding)
        var(--screen-horisontal-padding) var(--screen-horisontal-padding);

      background-color: var(--color-grey-1);
    }
  }

  .swipe-modal__apply {
    @media (min-width: 769px) {
      display: none;
    }

    @media (max-width: 768px) {
      position: sticky;
      bottom: -1px;

      width: 100%;
      height: 9.3rem;

      padding: 0 var(--screen-horisontal-padding);

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--color-grey-1);

      filter: drop-shadow(0 -0.3rem 0.4rem rgba(63, 63, 63, 0.25));
    }
  }

  .swipe-modal__apply__button {
    --type: close;

    @media (max-width: 768px) {
      font-size: 1.6rem;
      text-transform: uppercase;

      width: 100%;
      height: 4.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--color-grey-1);
      border-radius: 4rem;
      background-color: var(--color-white-1);

      cursor: pointer;
    }
  }

  .swipe-modal__swipe__top__buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
  }

  .swipe-modal__back {
    --type: close;
    display: flex;
    align-items: center;
  }

  .swipe-modal__back__arrow {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.8rem;

    fill: var(--color-white-1);
    transform: rotate(-180deg);
  }

  .swipe-modal__back__name {
    font-size: 1.6rem;
  }
</style>
