---
import { omit } from 'aptechka/utils'

export interface Props {
  class?: string
  text?: string
}

const {
  class: className,
  text = `\
<h1>h1  -  шрифт Code</h1>\
<h2>h2  -  шрифт Code</h2>\
<h3>h3  -  шрифт Code</h3>\
<h4>h4  -  шрифт Code</h4>\
<h5>h5  -  шрифт IBM</h5>\
<h6>h6  -  шрифт IBM</h6>\
<ul>\
  <li>Элемент списка 1</li>\
  <li>Элемент списка 2</li>\
  <li>Элемент списка 3</li>\
</ul>\
<p>Параграф</p>\
Обычный текст. <b>Жирный</b> текст. <a href="/" target="_blank">Ссылка</a> в тексте.\
`,
  ...rest
} = Astro.props
---

<div
  {...omit(rest, ['slot'] as any)}
  class:list={['technology-rich-text', className]}
  set:html={text}
/>

<style is:global>
  .technology-rich-text {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 120%;
    white-space: pre-line;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }

    h1,
    h2 {
      font-family: 'Code', sans-serif;
      font-size: 4.8rem;
      text-transform: uppercase;

      font-weight: 400;
      line-height: 120%;

      margin-bottom: 4rem;

      @media (max-width: 768px) {
        font-size: 2.8rem;
        margin-bottom: 2.4rem;
      }
    }

    h3,
    h4 {
      font-family: 'Code', sans-serif;
      text-transform: uppercase;
      text-indent: 7.5rem;

      font-weight: 400;

      margin-bottom: 2.4rem;

      @media (max-width: 768px) {
        font-size: 2.8rem;
        text-indent: 5rem;
        margin-bottom: 2.4rem;
      }
    }

    h3 {
      font-size: 2.4rem;
      line-height: normal;

      @media (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    h4 {
      font-size: 2.2rem;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    h5 {
      text-transform: uppercase;
      font-size: 2.2rem;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    h6 {
      font-size: 4rem;
      font-weight: 300;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 2.4rem;
    }

    p {
      margin-bottom: 1.6rem;
    }

    ul,
    ol {
      list-style: none;

      display: grid;
      grid-auto-rows: max-content;
      gap: 1.6rem;

      margin-bottom: 1.6rem;
    }

    li {
      display: inline-flex;

      &::before {
        content: '';

        flex-shrink: 0;

        width: 0.6rem;
        height: 0.6rem;

        margin-right: 2.2rem;
        margin-top: 0.5em;

        border-radius: 50%;

        background-color: var(--color-white-1);

        @media (max-width: 768px) {
          width: 0.4rem;
          height: 0.4rem;

          margin-right: 1.6rem;
          margin-left: 0.8rem;
          margin-top: 0.5em;
        }
      }
    }

    b {
      font-weight: 500;
      display: contents;
    }

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    img {
      max-width: 100%;
    }
  }
</style>
