---
import CaptureOnce from '@elements/CaptureOnce.astro'
import LookCard, { type Props as LookCardProps } from '@elements/LookCard.astro'
import SectionHeading from '@elements/SectionHeading.astro'
import SliderButtons from '@elements/SliderButtons.astro'

export interface Props {
  heading?: string
  cards?: Array<Omit<LookCardProps, 'class'>>
}

const {
  heading = 'Галерея',
  cards = [
    {
      image: {
        src: '/images/buildings/5.jpg',
        alt: '',
      },
      modal: 'iframe-modal',
      value: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/0582a6af0f552c80b6a3dee7181bdebc/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
    },
    {
      image: {
        src: '/images/buildings/6.jpg',
        alt: '',
      },
      modal: 'iframe-modal',
      value: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/4eed460095fe7d0d84c1bebe6fbe4ded/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
    },
    {
      image: {
        src: '/images/buildings/7.jpg',
        alt: '',
      },
      modal: 'iframe-modal',
      value: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/b7e0591f6db752377c55cffed709908b/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
    },
    {
      image: {
        src: '/images/buildings/8.jpg',
        alt: '',
      },
      modal: 'iframe-modal',
      value: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/dba9cafefcb2799872e1e9ce3a334a2c/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<section class="gallery">
  <SectionHeading
    class="gallery__heading"
    text={heading}
    revealOnScroll
  />

  <CaptureOnce class="gallery__slider-wrapper">
    <e-scroll class="gallery__slider">
      {
        cards.map((card) => {
          return (
            <div class="gallery__slider__item">
              <LookCard
                class="gallery__slider__card"
                {...card}
              />
            </div>
          )
        })
      }

      <SliderButtons
        class="gallery__slider__buttons"
        slot="static"
      />
    </e-scroll>
  </CaptureOnce>
</section>

<style is:global>
  .gallery {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: var(--section-vertical-padding) 0;
    padding-left: var(--screen-horisontal-padding);
    overflow: hidden;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  .gallery__heading {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
      padding-left: var(--screen-horisontal-padding);
    }
  }

  .gallery__slider-wrapper {
    width: 100%;
    height: 42rem;

    @media (max-width: 768px) {
      height: 27.6rem;
    }
  }

  .gallery__slider {
    --axis: x;
    --gap: 2.4rem;
    --sectional: true;
    --sections-in-view: 2;

    display: flex;
    gap: var(--gap);

    width: 100%;
    height: 100%;

    padding-right: var(--screen-horisontal-padding);

    @media (max-width: 768px) {
      --gap: 0.8rem;
      --sections-in-view: 1;
      padding-right: 0;
    }
  }

  .gallery__slider__buttons {
    position: absolute;
    right: var(--screen-horisontal-padding);
    bottom: calc(100% + 5rem);
  }

  .gallery__slider__item {
    width: 65.6rem;
    height: 100%;

    overflow: hidden;
    border-radius: 0.8rem;

    @media (max-width: 768px) {
      width: 35.3rem;
    }
  }

  .gallery__slider__card {
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 0.8rem;

    @media (min-width: 769px) {
      .gallery__slider__item:nth-of-type(1) &,
      .gallery__slider__item:nth-of-type(2) &,
      .gallery__slider__item:nth-of-type(3) & {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        transition: clip-path 1.5s calc(0.2s * var(--index, 0));
      }

      .gallery__slider__item:nth-of-type(1) & {
        --index: 0;
      }

      .gallery__slider__item:nth-of-type(2) & {
        --index: 1;
      }

      .gallery__slider__item:nth-of-type(3) & {
        --index: 2;
      }

      .gallery__slider-wrapper.captured & {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
</style>
