---
import ArrowButton, {
  type Props as ArrowButtonProps,
} from '@elements/ArrowButton.astro'
import { type ImageDataProps } from '@elements/Image.astro'
import ImagesMorph from '@elements/ImagesMorph.astro'
import Parallax from '@elements/Parallax.astro'
import Toaster from '@elements/Toaster.astro'

export interface Props {
  images?: Array<ImageDataProps>
  heading?: string
  buttons?: Array<
    Omit<ArrowButtonProps, 'class'> & {
      name: string
    }
  >
}

const {
  images = [
    {
      src: '/images/home-intro/1.jpg',
      alt: 'Современный деревянный дом',
    },
    {
      src: '/images/home-intro/2.jpg',
      alt: 'Современный деревянный дом',
    },
    {
      src: '/images/home-intro/3.jpg',
      alt: 'Современный деревянный дом',
    },
    {
      src: '/images/home-intro/4.jpg',
      alt: 'Современный деревянный дом',
    },
  ],
  heading = 'Строительство из дерева, стекла и камня сравнимо <span>с исскуством</span>',
  buttons = [
    { name: 'Каталог проектов', tag: 'a', href: '/projects', theme: 'light' },
    {
      name: 'Обсудить проект',
      target: 'consultation',
      tag: 'e-popover-button',
      theme: 'light',
      transparent: true,
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<e-segment class="home-intro">
  <Parallax class="home-intro__parralax">
    <ImagesMorph images={images} />
  </Parallax>

  <div class="home-intro__content">
    <Toaster
      type={'clip'}
      vector={'right'}
      class="home-intro__heading"
    >
      <h1
        class="home-intro__heading__value"
        set:html={heading}
      />
    </Toaster>

    <div class="home-intro__buttons">
      {
        buttons.map((button, i) => {
          return (
            <Toaster
              class="home-intro__button-wrapper"
              style={{ '--reveal-index': i }}
            >
              <ArrowButton
                class="home-intro__button"
                {...button}
              >
                {button.name}
              </ArrowButton>
            </Toaster>
          )
        })
      }
    </div>
  </div>
</e-segment>

<style is:global>
  .home-intro {
    position: relative;

    z-index: calc(var(--z-lines) + 1);

    height: 90rem;
    max-height: var(--viewport-height);
    margin-top: calc(var(--header-height) * -1);

    padding: 5.6rem var(--screen-horisontal-padding);
    margin-bottom: var(--section-vertical-padding);

    display: flex;
    align-items: flex-end;

    overflow: hidden;

    @media (max-width: 768px) {
      height: 72.8rem;
      padding: 2.5rem var(--screen-horisontal-padding);
      justify-content: flex-end;
      flex-direction: column;
    }

    .page-loaded &.captured {
      --cooked: 1;
    }
  }

  .home-intro__parralax {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      z-index: 1;

      width: 100%;
      height: 100%;

      background-image: linear-gradient(
        to right,
        rgba(48, 48, 48, 0.7) 10%,
        rgba(11, 11, 11, 0) 100%
      );
    }

    @media (max-width: 768px) {
      &::before {
        background-image: linear-gradient(
          to right,
          rgba(48, 48, 48, 0.7) -100%,
          rgba(11, 11, 11, 0) 100%
        );
      }
    }
  }

  .home-intro__image {
    width: 100%;
    height: 100%;

    & img {
      object-position: 90%;
    }
  }

  .home-intro__content {
    position: relative;

    width: 136rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .home-intro__heading {
    --transition: 2s var(--ease-out-expo);

    flex-shrink: 0;

    width: 100%;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }
  }

  .home-intro__heading__value {
    font-family: 'Code', sans-serif;
    font-weight: 400;
    font-size: 6.4rem;
    text-transform: uppercase;
    line-height: 120%;
    text-indent: 20rem;

    width: 100%;

    @media (max-width: 768px) {
      font-size: 3.2rem;
      line-height: 100%;
      text-indent: 18rem;
    }

    @media (max-width: 600px) {
      text-indent: 6rem;
    }

    & span {
      display: block;

      @media (max-width: 768px) {
        display: inline;
      }

      @media (max-width: 600px) {
        display: block;
        text-align: end;
      }
    }
  }

  .home-intro__buttons {
    display: flex;
    gap: 2.4rem;

    @media (min-width: 769px) {
      position: absolute;
      right: 0;
      bottom: 1.5rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  .home-intro__button-wrapper {
    --transition: 1s calc(0.3s + 0.1s * var(--reveal-index, 0))
      var(--ease-out-expo);
  }

  .home-intro__button {
    width: 100%;
  }
</style>
