---
import LookCard, { type Props as LookCardProps } from '@elements/LookCard.astro'
import SectionHeading from '@elements/SectionHeading.astro'
import SliderButtons from '@elements/SliderButtons.astro'

export interface Props {
  heading?: string
  cards?: Array<LookCardProps>
}

const {
  heading = 'Интерьеры',
  cards = [
    {
      circleText: 'Смотреть',
      image: {
        src: '/images/interiors/1.jpg',
        lazy: true,
        lazyBackground: true,
      },
      modal: 'images-modal',
      value: '/images/interiors/1.jpg',
      group: 'interiors',
    },
    {
      circleText: 'Смотреть',
      image: {
        src: '/images/interiors/2.jpg',
        lazy: true,
        lazyBackground: true,
      },
      modal: 'images-modal',
      value: '/images/interiors/2.jpg',
      group: 'interiors',
    },
    {
      circleText: 'Смотреть',
      image: {
        src: '/images/interiors/1.jpg',
        lazy: true,
        lazyBackground: true,
      },
      modal: 'images-modal',
      value: '/images/interiors/1.jpg',
      group: 'interiors',
    },
    {
      circleText: 'Смотреть',
      image: {
        src: '/images/interiors/1.jpg',
        lazy: true,
        lazyBackground: true,
      },
      modal: 'images-modal',
      value: '/images/interiors/1.jpg',
      group: 'interiors',
    },
    {
      circleText: 'Смотреть',
      image: {
        src: '/images/interiors/2.jpg',
        lazy: true,
        lazyBackground: true,
      },
      modal: 'images-modal',
      value: '/images/interiors/2.jpg',
      group: 'interiors',
    },
    {
      circleText: 'Смотреть',
      image: {
        src: '/images/interiors/1.jpg',
        lazy: true,
        lazyBackground: true,
      },
      modal: 'images-modal',
      value: '/images/interiors/1.jpg',
      group: 'interiors',
    },
  ],
} = Astro.props
---

<section class="interiors">
  <SectionHeading
    class="interiors__heading"
    text={heading}
  />

  <e-scroll class="interiors__slider">
    <SliderButtons
      class="interiors__slider__buttons"
      slot="static"
    />
    {
      cards.map((card) => {
        return (
          <LookCard
            class="interiors__slider__card"
            {...card}
          />
        )
      })
    }
  </e-scroll>
</section>

<style is:global>
  .interiors {
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);

    @media (max-width: 768px) {
      padding: var(--section-vertical-padding) 0;
    }
  }

  .interiors__heading {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      padding: 0 var(--screen-horisontal-padding);
      margin-bottom: 2.4rem;
    }
  }

  .interiors__slider {
    --axis: x;
    --gap: 2.4rem;
    --classes: true;
    --overflow: hidden;
    --sectional: true;
    --sections-in-view: 3;
    --auto-size: true;

    display: flex;
    gap: var(--gap);

    height: 64rem;

    @media (max-width: 768px) {
      --gap: 0.8rem;
      --sections-in-view: 1.1;
      height: 30rem;
    }
  }

  .interiors__slider__buttons {
    position: absolute;
    right: 0;
    bottom: calc(100% + 4.4rem);
  }

  .interiors__slider__card {
  }
</style>
