---
import SectionHeading from '@elements/SectionHeading.astro'
import NewsCard, { type Props as NewsCardProps } from '@elements/NewsCard.astro'
import ArrowButton from '@elements/ArrowButton.astro'
import ScrollToaster from '@elements/ScrollToaster.astro'

export interface Props {
  heading?: string
  largeArticles?: Array<Omit<NewsCardProps, 'class' | 'hashtags'>>
  smallArticles?: Array<Omit<NewsCardProps, 'class' | 'image' | 'hashtags'>>
}

const {
  heading = 'Блог Дом, Дерево, Дизайн',
  largeArticles = [
    {
      image: { src: '/images/buildings/5.jpg' },
      href: '/blog/article',
      date: '03.09.2024',
      title: 'Норвежская рубка: искусство и традиции плотницкого мастерства',
      description: 'В&nbsp;мире деревянного строительства выбор технологии возведения дома или&nbsp;бани&nbsp;— это&nbsp;один из&nbsp;самых важных этапов, который определяет не&nbsp;только внешний вид, но&nbsp;и&nbsp;долговечность будущего сооружения',
    },
  ],
  smallArticles = [
    {
      href: '/blog/article',
      date: '03.09.2024',
      title: 'Норвежская рубка: искусство и традиции плотницкого мастерства',
      description: 'В&nbsp;мире деревянного строительства выбор технологии возведения дома или&nbsp;бани&nbsp;— это&nbsp;один из&nbsp;самых важных этапов, который определяет не&nbsp;только внешний вид, но&nbsp;и&nbsp;долговечность будущего сооружения',
    },
    {
      href: '/blog/article',
      date: '03.09.2024',
      title: 'Норвежская рубка: искусство и традиции плотницкого мастерства',
      description: 'В&nbsp;мире деревянного строительства выбор технологии возведения дома или&nbsp;бани&nbsp;— это&nbsp;один из&nbsp;самых важных этапов, который определяет не&nbsp;только внешний вид, но&nbsp;и&nbsp;долговечность будущего сооружения',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<section class="latest-news">
  <SectionHeading
    class="latest-news__heading"
    text={heading}
    revealOnScroll
  />

  <div class="latest-news__content">
    <ScrollToaster
      vector={'right'}
      type={'clip'}
      class="latest-news__large">
      {
        largeArticles.map((article) => {
          return (
            <NewsCard
              class="latest-news__large__card"
              hashtags={false}
              {...article}
            />
          )
        })
      }
    </ScrollToaster>

    <div class="latest-news__small">
      <div class="latest-news__small__list">
        {
          smallArticles.map((article) => {
            return (
              <ScrollToaster
                vector={'right'}
                type={'clip'}>
                <NewsCard
                  class="latest-news__small__card"
                  image={false}
                  hashtags={false}
                  {...article}
                />
              </ScrollToaster>
            )
          })
        }
      </div>
      <ArrowButton
        class="latest-news__all-button"
        tag="a"
        href="/blog"
        data-prefetch
        >Читать всё</ArrowButton
      >
    </div>
  </div>
</section>

<style is:global>
  .latest-news {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
  }

  .latest-news__heading {
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }
  }

  .latest-news__content {
    --transition: 1.2s;

    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2.4rem;

      width: calc(100% + var(--screen-horisontal-padding) * 2);
      margin-left: calc(var(--screen-horisontal-padding) * -1);
      padding: 0 var(--screen-horisontal-padding);
    }
  }

  .latest-news__large {
    flex-shrink: 0;
    width: 92.8rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .latest-news__large__card {
    width: 100%;

    .article-card__image {
      height: 52.7rem;

      @media (max-width: 768px) {
        width: calc(100% + var(--screen-horisontal-padding) * 2);
        margin-left: calc(var(--screen-horisontal-padding) * -1);
        height: 32rem;
      }
    }

    @media (max-width: 768px) {
      padding-bottom: 0.8rem;
      border-bottom: 0.1rem solid var(--color-grey-4);
    }
  }

  .latest-news__small {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    min-height: 100%;
  }

  .latest-news__small__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .latest-news__small__card {
    padding: 2.4rem;

    border-bottom: 0.1rem solid var(--color-grey-4);

    &:first-of-type {
      padding-top: 0;
    }
  }

  .latest-news__all-button {
    margin-left: auto;
    margin-top: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
</style>
