---
import CaptureOnce from '@elements/CaptureOnce.astro'
import type { ImageDataProps } from '@elements/Image.astro'
import Image from '@elements/Image.astro'
import SectionHeading from '@elements/SectionHeading.astro'
import SliderButtons from '@elements/SliderButtons.astro'

export interface Props {
  heading?: string
  images?: Array<ImageDataProps>
}

const {
  heading = 'Планировки',
  images = [
    {
      src: '/images/layouts/1.jpg',
      alt: '',
    },
    {
      src: '/images/layouts/2.jpg',
      alt: '',
    },
    {
      src: '/images/layouts/1.jpg',
      alt: '',
    },
    {
      src: '/images/layouts/2.jpg',
      alt: '',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<section class="layouts">
  <SectionHeading
    class="layouts__heading"
    text={heading}
    revealOnScroll
  />

  <CaptureOnce class="layouts__slider-wrapper">
    <e-scroll class="layouts__slider">
      {
        images.map((image, i) => {
          return (
            <div
              class="layouts__slider__item"
              style={{ '--index': i }}
            >
              <Image
                class="layouts__slider__image"
                {...image}
                lazy
                lazyBackground
                rounded
              />
            </div>
          )
        })
      }
      <SliderButtons
        class="layouts__slider__buttons"
        slot="static"
      />
    </e-scroll>
  </CaptureOnce>
</section>

<style is:global>
  .layouts {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);

    @media (max-width: 768px) {
      padding: var(--section-vertical-padding) 0;
    }
  }

  .layouts__heading {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      padding: 0 var(--screen-horisontal-padding);
      margin-bottom: 2.4rem;
    }
  }

  .layouts__slider {
    --axis: x;
    --gap: 2.4rem;
    --classes: true;
    --overflow: hidden;
    --sectional: true;
    --sections-in-view: 2;
    --auto-size: true;

    display: flex;
    gap: var(--gap);

    height: 67.6rem;

    @media (max-width: 768px) {
      --gap: 0.8rem;
      --sections-in-view: 1.1;
      height: 30rem;
    }
  }

  .layouts__slider__buttons {
    position: absolute;
    right: 0;
    bottom: calc(100% + 4.4rem);
  }

  .layouts__slider__item {
    width: 100%;
    height: 100%;

    @media (min-width: 769px) {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 1.5s calc(0.1s * var(--index, 0));

        .layouts__slider-wrapper.captured & {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }
  }
</style>
