---
import CaptureOnce from '@elements/CaptureOnce.astro'
import SectionHeading from '@elements/SectionHeading.astro'
import ServiceCard, {
  type Props as ServiceCardProps,
} from '@elements/ServiceCard.astro'
import Toaster from '@elements/Toaster.astro'

export interface Props {
  heading?: string
  list?: Array<ServiceCardProps>
}

const {
  heading = 'Услуги',
  list = [
    {
      href: '/services/carpentry',
      image: { src: '/images/services/carpentry/card.png', alt: '' },
      name: 'Плотницкое дело',
    },
    {
      href: '/services/turnkey-construction',
      image: {
        src: '/images/services/turnkey-construction/card.png',
        alt: '',
      },
      name: 'Стройка под ключ',
    },
    {
      href: '/services/architectural-design',
      image: {
        src: '/images/services/architectural-design/card.png',
        alt: '',
      },
      name: 'Архитектурное проектирование',
    },
    {
      href: '/services/interior-design',
      image: { src: '/images/services/interior-design/card.png', alt: '' },
      name: 'Дизайн интерьера',
    },
    {
      href: '/services/wood-sculpture',
      image: { src: '/images/services/wood-sculpture/card.png', alt: '' },
      name: 'Деревянная скульптура',
    },
    {
      href: '/services/landscape-design',
      image: { src: '/images/services/landscape-design/card.png', alt: '' },
      name: 'Ландшафтный дизайн',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<CaptureOnce class="services">
  <SectionHeading
    class="services__heading"
    text={heading}
    revealOnScroll
  />

  <ul class="services__list">
    {
      list.map((item, i) => {
        return (
          <li
            class="services__list__item"
            style={{ '--index': i }}
          >
            <Toaster
              class="services__list__item__inner"
              vector={'down'}
              type={'clip'}
            >
              <ServiceCard {...item} />
            </Toaster>
          </li>
        )
      })
    }
  </ul>
</CaptureOnce>

<style is:global>
  .services {
    position: relative;
    z-index: calc(var(--z-lines) + 1);
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
    padding-top: 0;

    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }

    &.captured {
      --cooked: 1;
    }
  }

  .services__heading {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      padding: 0 var(--screen-horisontal-padding);
      margin-bottom: 2.4rem;
    }
  }

  .services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @media (max-width: 768px) {
      grid-template-columns: 100%;
      gap: 0.8rem;
    }
  }

  .services__list__item {
    --transition: 0.7s calc(0.05s * var(--index, 0));

    height: 42rem;

    @media (max-width: 768px) {
      height: 31.5rem;
    }

    @media (min-width: 769px) {
    }
  }

  .services__list__item__inner {
    width: 100%;
    height: 100%;

    .toaster__toast {
      width: 100%;
      height: 100%;
    }
  }
</style>
