---
import ArticleCard, { type Props as ArticleCardProps } from '@elements/ArticleCard.astro'
import ScrollToaster from '@elements/ScrollToaster.astro'
import SectionHeading from '@elements/SectionHeading.astro'
import { omit } from 'aptechka/utils'

export interface Props {
  articles?: Array<Omit<ArticleCardProps, 'class'> & { heading?: string }>
}

const {
  articles = [
    {
      heading: 'Канадская рубка',
      title: 'Подходит, если хочется заехать в рубленый дом поскорее',
      description: 'Это соединение проще бриллиантового замка-на бревнах нет нижних затёсов. Комлей тоже нет как правило, а выпуски брёвен отторцованы прямо, иногда фигурно. Стиль дома уже не дикий природный, а классический, формы плавные и простые. За счёт этих решений сруб рубится в 1,5 раза быстрее. Но при этом он сохраняет все свойства рубленных домов в бриллиантовом замке.',
      image: { src: '/images/dev/image/1.jpg' },
      href: '/',
    },
    {
      heading: 'Русская чаша',
      title: 'Подходит, если хочется заехать в рубленый дом поскорее',
      description: 'Это соединение проще бриллиантового замка-на бревнах нет нижних затёсов. Комлей тоже нет как правило, а выпуски брёвен отторцованы прямо, иногда фигурно. Стиль дома уже не дикий природный, а классический, формы плавные и простые. За счёт этих решений сруб рубится в 1,5 раза быстрее. Но при этом он сохраняет все свойства рубленных домов в бриллиантовом замке.',
      image: { src: '/images/dev/image/1.jpg' },
      href: '/',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<div class:list={['showcase-articles']}>
  {
    articles.map((article) => {
      return (
        <div class="showcase-articles__item">
          <SectionHeading
            tag="h3"
            class="showcase-articles__item__heading"
            text={article.heading}
            revealOnScroll
          />
          <ScrollToaster
            type={'clip'}
            vector={'down'}>
            <ArticleCard {...omit(article, ['heading'])} />
          </ScrollToaster>
        </div>
      )
    })
  }
</div>

<style is:global>
  .showcase-articles {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    width: 100%;
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: var(--section-vertical-padding) 2.4rem;

    @media (max-width: 768px) {
      padding: var(--section-vertical-padding) 0;
      grid-template-columns: 100%;
      gap: var(--section-vertical-padding);
    }
  }

  .showcase-articles__item {
  }

  .showcase-articles__item__heading {
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
      padding: 0 var(--screen-horisontal-padding);
    }
  }
</style>
