---
import Image, { type ImageDataProps } from '@elements/Image.astro'
import RichText from '@elements/RichText.astro'
import Showcase, { type ShowcaseDirection } from '@elements/Showcase.astro'

export interface Props {
  direction?: ShowcaseDirection
  heading?: string
  text?: string
  image?: ImageDataProps
}

const {
  direction = 'ltr',
  heading,
  text = `\
<h2>Бриллиантовый замок</h2>\
<h5>Идеален если нужен дом для нескольких поколений семьи</h5>\
<p>Это дикий, природный стиль. При усадке верхнее бревно находит на нижнее и соединение заклинивается. Дом после усадки — это монолит без щелей</p>\
<p>Строгаем бревна так, чтобы замять волокна дерева в его структуру. Поэтому поверхность бревна плотная. Вода стекает по затёсам и не попадает в чашу, так сруб не впитывает влагу и не гниёт.</p>\
<p>Этот тип рубки исключает продувание углов и стен, а в пазах используется упругий утеплитель, который не слёживается годами.</p>\
<p>Это очень красивый тип соединения. Комли по углам дома сохраняем в первозданном виде. Возможно, нарезать на комле уникальный узор-«чешую»</p>\
`,
  image = { src: '/images/dev/1.jpg' },
} = Astro.props
---

<!-- BLOCK -->
<Showcase
  class="showcase-5"
  direction={direction}
  {heading}
>
  <RichText
    slot={'col-1'}
    text={text}
    class="showcase-5__rich"
  />
  <Image
    slot={'col-2'}
    {...image}
    lazy
    lazyBackground
    cover
    rounded
    class="showcase-5__image"
  />
</Showcase>

<style is:global>
  .showcase-5 {
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .showcase-5 .showcase__col:nth-child(1) {
    padding: 4rem;

    background-color: var(--color-white-1);
    color: var(--color-grey-1);
    border-radius: 0.8rem;

    @media (max-width: 768px) {
      padding: 2.4rem var(--screen-horisontal-padding);
    }
  }

  .showcase-5__image {
    width: 79.2rem;
    height: 64rem;

    @media (max-width: 768px) {
      width: 100%;
      height: 30.3rem;
    }
  }
</style>
