---
import Image, { type ImageDataProps } from '@elements/Image.astro'
import RichText from '@elements/RichText.astro'
import Showcase, { type ShowcaseDirection } from '@elements/Showcase.astro'

export interface Props {
  direction?: ShowcaseDirection
  text?: string
  heading?: string
  image?: ImageDataProps
  imageSize?: 'large' | 'normal'
}

const {
  direction = 'ltr',
  text = `\
<h4>Давайте рассмотрим основные выгоды работать с клееным брусом:</h4>\
<ul>\
  <li>Быстрое изготовление домокомплекта. Комплект на дом примерно на 300-400 м2 в условиях современного производства изготавливается не более 2 недель.</li>\
  <li>Возможность максимально быстро зайти на отделочные работы и ввести дом в эксплуатацию так как усадка минимальна, а в случае с каркасно-брусовой технологией (фахверк, тимбер фрэйм) усадка отсутствует.</li>\
  <li>Каналы под скрытую проводку и коммуникации возможно сделать одновременно с изготовлением домокомплекта максимально точно и быстро на станке.</li>\
  <li>Решение сложных конструктивных и архитектурных задач в стройке так как возможно изготовление балок до 14 метров и деталей бруса до 12 метров длинной. Есть возможность изготовления элементов кровли с гнутой конструкционной балкой, радиальных элементов.</li>\
</ul>\
`,
  heading,
  image = { src: '/images/dev/1.jpg' },
  imageSize = 'large',
} = Astro.props
---

<!-- BLOCK -->
<Showcase
  class="showcase-2"
  direction={direction}
  data-image-size={imageSize}
  {heading}
>
  <RichText
    slot={'col-1'}
    text={text}
  />
  <Image
    slot={'col-2'}
    {...image}
    lazy
    lazyBackground
    cover
    rounded
    class="showcase-2__image"
  />
</Showcase>

<style is:global>
  .showcase-2__image {
    width: 79.2rem;
    height: 59.2rem;

    .showcase-2[data-image-size='large'] & {
      width: 92.8rem;
    }

    @media (min-width: 769px) {
      min-height: 100%;
    }

    @media (max-width: 768px) {
      width: calc(100% + var(--screen-horisontal-padding) * 2);

      margin-left: calc(var(--screen-horisontal-padding) * -1);
      width: 32rem;

      img {
        height: 32rem;
      }
    }
  }

  .showcase-2 .technology-rich-text {
    min-height: 100%;

    display: flex;
    flex-direction: column;

    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
</style>
