---
import Image, { type ImageDataProps } from '@elements/Image.astro'
import TechnologyRichText from '@elements/TechnologyRichText.astro'
import Showcase, { type ShowcaseDirection } from '@elements/Showcase.astro'

export interface Props {
  direction?: ShowcaseDirection
  text?: string
  heading?: string
  textImage?: ImageDataProps
  mainImage?: ImageDataProps
}

const {
  direction = 'ltr',
  heading,
  text = `\
<h4>Давайте рассмотрим основные выгоды работать с клееным брусом:</h4>\
<ul>\
  <li>Быстрое изготовление домокомплекта. Комплект на дом примерно на 300-400 м2 в условиях современного производства изготавливается не более 2 недель.</li>\
  <li>Возможность максимально быстро зайти на отделочные работы и ввести дом в эксплуатацию так как усадка минимальна, а в случае с каркасно-брусовой технологией (фахверк, тимбер фрэйм) усадка отсутствует.</li>\
  <li>Каналы под скрытую проводку и коммуникации возможно сделать одновременно с изготовлением домокомплекта максимально точно и быстро на станке.</li>\
  <li>Решение сложных конструктивных и архитектурных задач в стройке так как возможно изготовление балок до 14 метров и деталей бруса до 12 метров длинной. Есть возможность изготовления элементов кровли с гнутой конструкционной балкой, радиальных элементов.</li>\
</ul>\
`,
  textImage = { src: '/images/dev/1.jpg' },
  mainImage = { src: '/images/dev/2.jpg' },
} = Astro.props
---

<!-- BLOCK -->
<Showcase
  class="showcase-1"
  {heading}
  {direction}
>
  <Image
    slot={'col-1'}
    {...textImage}
    lazy
    lazyBackground
    cover
    rounded
    class="showcase-1__text-image"
  />
  <TechnologyRichText
    slot={'col-1'}
    text={text}
  />
  <Image
    slot={'col-2'}
    {...mainImage}
    lazy
    lazyBackground
    cover
    rounded
    class="showcase-1__main-image"
  />
</Showcase>

<style is:global>
  .showcase-1 {
  }

  .showcase-1__text-image {
    width: 100%;

    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
      width: calc(100% + var(--screen-horisontal-padding) * 2);
      margin-left: calc(var(--screen-horisontal-padding) * -1);

      [data-direction='rtl'] & {
        order: 2;
        margin-bottom: 0;
      }
    }
  }

  .showcase-1__main-image {
    width: 92.8rem;

    @media (max-width: 768px) {
      width: calc(100% + var(--screen-horisontal-padding) * 2);
      margin-left: calc(var(--screen-horisontal-padding) * -1);
    }
  }
</style>
