---
import Image, { type ImageDataProps } from '@elements/Image.astro'
import RichText from '@elements/RichText.astro'
import Showcase, { type ShowcaseDirection } from '@elements/Showcase.astro'

export interface Props {
  direction?: ShowcaseDirection
  heading?: string
  text1?: string
  text2?: string
  images?: Array<ImageDataProps>
}

const {
  direction = 'ltr',
  heading,
  text1 = `\
<h2>Post Beam</h2>\
<h5>Самый теплый деревянный дом</h5>\
<p>Классический Post&Beam это каркасно-бревенчатая безусадочная технология аналог таких решений как Фахверк или Тимбер Фрэйм. Только вместо бруса бревно сечением от 44-46 см по вершине и более. Заполнение стен возможно как в каркасном исполнении так и в варианте заполнения бревном, так называемый забир. Post&Beam сочетаем с камнем, декоративной штукатуркой, безрамным остеклением. Ограничений по отделке нет.</p>\
`,
  text2 = `\
<p><b>Компания Три Топора</b> так же производит облегченную версию Post&Beam в бревне 32-38 см. Это решение оптимально для коммерческих объектов: рестораны, гостиницы, гостевые дома так как снижает расходы на силовой каркас здания при сохранении внешней эстетики и уникальной архитектуры</p>\
`,
  images = [{ src: '/images/dev/image/1.jpg' }, { src: '/images/dev/image/2.jpg' }, { src: '/images/dev/image/3.jpg' }, { src: '/images/dev/image/4.jpg' }, { src: '/images/dev/image/5.jpg' }, { src: '/images/dev/image/6.jpg' }],
} = Astro.props
---

<!-- BLOCK -->
<Showcase
  class="showcase-7"
  direction={direction}
  {heading}>
  <Image
    slot={'col-1'}
    {...images[3]}
    lazy
    lazyBackground
    cover
    rounded
    class="showcase-7__left-image"
  />
  <RichText
    slot={'col-1'}
    text={text2}
    class="showcase-7__left-rich"
  />
  <div
    class="showcase-7__left-images"
    slot={'col-1'}>
    <Image
      {...images[4]}
      lazy
      lazyBackground
      cover
      rounded
      class="showcase-7__left-images__image"
    />
    <Image
      {...images[5]}
      lazy
      lazyBackground
      cover
      rounded
      class="showcase-7__left-images__image"
    />
  </div>
  <RichText
    slot={'col-2'}
    text={text1}
    class="showcase-7__right-rich"
  />
  <e-scroll
    class="showcase-7__right-slider"
    slot={'col-2'}>
    {
      images.map((image) => {
        return (
          <Image
            {...image}
            lazy
            lazyBackground
            cover
            rounded
            class="showcase-7__right-slider__image"
          />
        )
      })
    }
  </e-scroll>
</Showcase>

<style is:global>
  .showcase-7 {
    @media (min-width: 769px) {
      .showcase__col {
        width: 79.2rem;
      }
    }
  }

  .showcase-7 .showcase__cols {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .showcase-7__left-image {
    width: 100%;
    height: 59.2rem;

    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .showcase-7__left-rich {
    @media (min-width: 769px) {
      margin-bottom: 1.2rem;
    }
  }

  .showcase-7__left-images {
    display: flex;
    gap: 2.4rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .showcase-7__left-images__image {
    width: 100%;
    height: 24rem;
  }

  .showcase-7__right-rich {
    @media (min-width: 769px) {
      margin-top: auto;
    }
  }

  .showcase-7__right-slider {
    --hibernate: true;
    width: 100%;

    @media (min-width: 769px) {
      display: flex;
      flex-wrap: wrap;
      gap: 2.4rem;
      height: max-content;
    }

    @media (max-width: 768px) {
      --gap: 0.8rem;
      --hibernate: false;
      --axis: x;
      --sectional: true;
      --auto-size: true;

      display: flex;
      gap: var(--gap);

      height: 28rem;
    }
  }

  .showcase-7__right-slider__image {
    @media (min-width: 769px) {
      width: calc((100% - 2.4rem) / 2);
      height: 24rem;

      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }

      &:nth-child(3) {
        width: 100%;
        height: 37.6rem;
      }
    }

    @media (max-width: 768px) {
      height: 100%;
      width: 35.9rem;
    }
  }
</style>
