---
import Compare, { type Props as CompareProps } from '@elements/Compare.astro'
import type { ImageDataProps } from '@elements/Image.astro'
import Image from '@elements/Image.astro'
import RichText from '@elements/RichText.astro'

export interface Props {
  class?: string
  text?: string
  textPosition?: 'left' | 'right'
  compare?: Omit<CompareProps, 'class'>
  image?: ImageDataProps
}

const {
  class: className,
  text = `
    <h3>Давайте рассмотрим основные выгоды работать с клееным брусом:</h3>
    <ul>
      <li>Быстрое изготовление домокомплекта. Комплект на дом примерно на 300-400 м2 в условиях современного производства изготавливается не более 2 недель.</li>
      <li>Возможность максимально быстро зайти на отделочные работы и ввести дом в эксплуатацию так как усадка минимальна, а в случае с каркасно-брусовой технологией (фахверк, тимбер фрэйм) усадка отсутствует.</li>
      <li>Каналы под скрытую проводку и коммуникации возможно сделать одновременно с изготовлением домокомплекта максимально точно и быстро на станке.</li>
      <li>Решение сложных конструктивных и архитектурных задач в стройке так как возможно изготовление балок до 14 метров и деталей бруса до 12 метров длинной. Есть возможность изготовления элементов кровли с гнутой конструкционной балкой, радиальных элементов.</li>
    </ul>
  `,
  textPosition = 'left',
  compare,
  image = { src: '/images/dev/1.jpg' },
  ...rest
} = Astro.props
---

<!-- BLOCK -->
<div
  {...rest}
  class:list={['technology-block-1', className]}
  data-text-position={textPosition}
>
  <RichText
    class="technology-block-1__text"
    text={text}
  />
  {
    compare ? (
      <Compare
        class="technology-block-1__compare"
        {...compare}
      />
    ) : (
      <Image
        class="technology-block-1__image"
        lazy
        lazyBackground
        cover
        {...image}
      />
    )
  }
</div>

<style is:global>
  .technology-block-1 {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);

    display: flex;
    gap: 2.4rem;

    &[data-text-position='left'] {
      flex-direction: row;
    }

    &[data-text-position='right'] {
      flex-direction: row-reverse;
    }

    @media (max-width: 768px) {
      padding: var(--section-vertical-padding) 0;
      gap: 1.6rem;
      flex-direction: column;

      &[data-text-position='left'] {
        flex-direction: column;
      }

      &[data-text-position='right'] {
        flex-direction: column;
      }
    }
  }

  .technology-block-1__text {
    @media (max-width: 768px) {
      padding: 0 var(--screen-horisontal-padding);
    }
  }

  .technology-block-1__compare {
    position: relative;
    flex-shrink: 0;
  }

  .technology-block-1 .compare__title {
    @media (min-width: 769px) {
      position: absolute;
      bottom: 100%;
    }
  }

  .technology-block-1[data-text-position='left'] .compare__title {
    @media (min-width: 769px) {
      right: 0;
    }
  }

  .technology-block-1__image {
    flex-shrink: 0;
    width: 79.2rem;
    height: 59.2rem;

    border-radius: 0.8rem;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      height: 32rem;
    }
  }
</style>
