---
import type { ImageDataProps } from '@elements/Image.astro'
import Image from '@elements/Image.astro'
import RichText from '@elements/RichText.astro'
import ScrollToaster from '@elements/ScrollToaster.astro'
import SectionHeading from '@elements/SectionHeading.astro'

export interface Props {
  heading?: string
  headingType?: 'normal' | 'small'
  image?: ImageDataProps | false
  description?: string
}

const {
  heading = 'Тимбер Фрэйм - деревянный дом как искусство',
  headingType = 'normal',
  image = {
    src: '/images/technologies/timber-frame/cover.jpg',
  },
  description = 'Уникальная каркасно-брусовая технология стройки. Современная и классическая архитектура и дизайн. Брусовый каркас дома из массива дерева и из клееной балки.',
} = Astro.props
---

<!-- BLOCK -->
<div
  class="technology-intro"
  data-heading-type={headingType}>
  {
    image && (
      <ScrollToaster
        type={'clip'}
        vector={'down'}>
        <Image
          {...image}
          class="technology-intro__cover"
          lazy
          lazyBackground
          cover
          rounded
        />
      </ScrollToaster>
    )
  }

  <div class="technology-intro__texts">
    <ScrollToaster
      type={'clip'}
      vector={'left'}>
      <SectionHeading
        class="technology-intro__heading"
        text={heading}
        tag="h1"
      />
    </ScrollToaster>

    <ScrollToaster
      type={'clip'}
      vector={'right'}>
      <RichText
        class="technology-intro__description"
        text={description}
      />
    </ScrollToaster>
  </div>
</div>

<style is:global>
  .technology-intro {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
    padding-top: 0;
  }

  .technology-intro__cover {
    width: 100%;
    height: 66rem;

    margin-bottom: 4rem;

    object-fit: cover;

    @media (max-width: 768px) {
      height: 29.1rem;
      width: calc(100% + var(--screen-horisontal-padding) * 2);

      margin-bottom: 2.4rem;
      margin-left: calc(var(--screen-horisontal-padding) * -1);
    }
  }

  .technology-intro__texts {
    display: flex;
    gap: 2.4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  .technology-intro__heading {
    text-indent: 15.4rem;
    line-height: 120%;

    width: 92.8rem;

    @media (max-width: 768px) {
      text-indent: 7.1rem;

      width: 100%;

      [data-heading-type='small'] & {
        font-weight: 400;
        font-size: 2.2rem;
      }
    }
  }

  .technology-intro__description {
    width: 64.1rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
</style>
