---
import Header from '@singletons/Header.astro'
import Footer from '@singletons/Footer.astro'
import IframeModal from '@singletons/IframeModal.astro'
import FormAnswer from '@singletons/FormAnswer.astro'
import Scrollbar from '@singletons/Scrollbar.astro'

import Head from './Head.astro'
import { type Props as SeoProps } from './Seo.astro'
import Consultation from '@singletons/Consultation.astro'
import ImagesModal from '@singletons/ImagesModal.astro'

export interface Props {
  header?: boolean
  headerBlackAndWhite?: boolean
  footer?: boolean
  cookies?: boolean
  formResultModal?: boolean
  ctaModal?: boolean
  partnerModal?: boolean
  seo?: SeoProps | undefined
}

const { header = true, footer = true, seo } = Astro.props
---

<html lang="ru">
  <Head {seo} />

  <body>
    <div class="page">
      {header && <Header />}

      <IframeModal />
      <ImagesModal />
      <Consultation />
      <FormAnswer />

      <div class="scroll hidden-scrollbar">
        <Scrollbar />

        <main>
          <slot />
        </main>

        {footer && <Footer />}
      </div>
    </div>
  </body>
</html>

<style is:global>
  .page {
    width: 100%;
    height: 100%;
    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    .page-loaded & {
      opacity: 1;
      transition: opacity 1.5s;
      pointer-events: auto;
    }
  }

  .scroll {
    width: 100%;
    height: 100%;

    padding-top: var(--header-height);

    overflow: hidden auto;

    .dragging & {
      overflow: hidden;
    }
  }
</style>

<script>
  import '@globals/main.ts'
</script>
